h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Gothic A1', sans-serif;
}


#canvas {
    background-color: transparent;
    padding: 10px;
}


.header  {
    height: 50px;
}

.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn {
    background-color: #000000;
    color: #dbdbdb;
    border: 0;
    border-radius: 20px;
    font-family: 'Gothic A1', sans-serif;
    width: 80px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dropdown {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropbtn {
    font-family:'Quicksand', sans-serif;
    width: 120px;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
}


.dropdown-items {
    display: none;
    text-align: center;
    width: 120px;
    z-index: 1;
}


.item {
    width: 80px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    background-color: transparent;
}

.item:hover {
    background-color: pink;
}

.show {
    display: grid;
    padding-top: 5px;
    grid-gap: 0;
    justify-content: center;
}

.small {
    display: grid;
    grid-template-rows: repeat(16, 20px);
    grid-template-columns: repeat(16, 20px);
    justify-content: center;
}

.medium {
    display: grid;
    grid-template-rows: repeat(24, 18px);
    grid-template-columns: repeat(24, 18px);
    justify-content: center;
}

.large {
    display: grid;
    grid-template-rows: repeat(32, 15px);
    grid-template-columns: repeat(32, 15px);
    justify-content: center;
}


.pixel {
    border: solid 1px #dbdbdb;
    padding: 0px;
}



.footer {
    height: 50px;
}


.hidden {
    display: none;
}


.eraser-active {
    background-color: #dbdbdb;
    color: #000000;
    border: 0;
    border-radius: 20px;
    font-family: 'Gothic A1', sans-serif;
    width: 80px;
}


