h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Gothic A1', sans-serif;
}


#canvas {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    margin: auto;
}

.container {
    margin: auto;
    width: 720px;
    height: 800px;
}


.title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper {
    width: 720px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0;

}

.menu-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 15px;
    gap: 10px;
}

.menu-input:focus {
    outline: none;
}

.btn {
    background-color: #000000;
    color: #dbdbdb;
    border: 0;
    border-radius: 20px;
    font-family: 'Gothic A1', sans-serif;
    width: 80px;
}

.button {
    justify-content: end;
    gap: 10px;
}


.dropdown {
    padding-top: 10px;
    padding-bottom: 10px;

}

.dropbtn {
    position: relative;
    font-family:'Quicksand', sans-serif;
    width: 120px;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    z-index: 2;
}


.dropdown-items {
    display: none;
    position: absolute;
    background-color: #242424;
    opacity: 0.8;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 8px;
    width: 120px;
    border-radius: 10px;
}


.item {
    width: 80px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    background-color: transparent;
    color: #dbdbdb;
}

.item:hover {
    background-color: rgb(243, 237, 190);
    color: #242424;
}

.show {
    display: grid;
    grid-gap: 0;
    justify-content: center;
    margin-top: -15px;
    z-index: 1;
}

.grid {
    display: grid;
    width: 720px;
    height: 720px;
    justify-content: center;
    justify-items: stretch;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}


.pixel {
    border: solid 1px #dbdbdb;
    gap: 0px;
    align-self: stretch;
}



.footer {
    height: 50px;
}


.hidden {
    display: none;
}


.eraser-active {
    background-color: #dbdbdb;
    color: #000000;
    border: 0;
    border-radius: 20px;
    font-family: 'Gothic A1', sans-serif;
    width: 80px;
}


